.env
*.pt
data/annotated_data/
data/raw_data/
models/*.pt
runs/
__pycache__/
.gradio
*.sh

.vscode/*
!.vscode/extensions.json
.idea
venv
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
app_state.json
trainer_state.json
server_state.json